<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product_brand_name.name %>
</p>


<%= link_to 'Edit', edit_product_brand_name_path(@product_brand_name) %> |
<%= link_to 'Back', product_brand_names_path %>
