<%= form_for(@menstore) do |f| %>
  <% if @menstore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menstore.errors.count, "error") %> prohibited this menstore from being saved:</h2>

      <ul>
      <% @menstore.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
