
<% if notice %>
  <p id="notice"><%= notice %></p> 
<% end %>
<h1>Featured Products | Your Pragmatic Catalog</h1>
<% @products.each do |product| %>
  <div>
    <%= sanitize(product.name) %> <br>
    <%= number_to_currency(product.price) %>
    <%= link_to 'View', product %>
  </div>
<% end %>




<div class="header_bg">
<div class="wrap">

  <!-- start slider: To consider to add Slider -->
  <!-- start cursual: To consider to add Cursal -->

  <!-- start main -->
  <div class="main_bg1">
  <div class="wrap">  
    <div class="main1">
      <h2>featured products</h2>
    </div>
  </div>
  </div>

  <!-- start content products -->
  <div class="main_bg">
  <div class="wrap">  
    <div class="main">
      <!-- start grids_of_3 -->
      <div class="grids_of_3">
        <div class="grid1_of_3">
          <a href="details.html"> <!-- spcifies link to product detail page -->
            <img src="#" alt=""/>
            <h3>item name</h3>
            <div class="price">
              <h4>$300<span>view</span></h4>
            </div>
            <span class="b_btm"></span>
          </a>
        </div>
        <div class="grid1_of_3">
          <a href="details.html">
            <img src="#" alt=""/>
            <h3>item name</h3>
            <div class="price">
              <h4>$300<span>view</span></h4>
            </div>
            <span class="b_btm"></span>
          </a>
        </div>
        <div class="grid1_of_3">
          <a href="details.html">
            <img src="#" alt=""/>
            <h3>item name</h3>
            <div class="price">
              <h4>$300<span>view</span></h4>
            </div>
            <span class="b_btm"></span>
          </a>
        </div>
        <div class="clear"></div>
      </div>

      <!-- end grids_of_3 -->
    </div>
  </div>
  </div>  
  <!-- end content products -->
  <!-- end main -->
</div>
</div>
