
<div class="header_bg">
<div class="wrap">
  <!-- start slider: To consider to add Slider -->
  <!-- start cursual: To consider to add Cursal -->


  <!-- start main -->
  <div class="main_bg1">
  <div class="wrap">  
    <div class="main1">
      <h2>featured products</h2>
    </div>
  </div>
  </div>

  <!-- start main1 products -->
  <div class="main_bg">
  <div class="wrap">  
    <div class="main">
      <!-- start grids_of_3 -->
      <div class="grids_of_3">
        <div class="grid1_of_3">
          <a href="details.html"> <!-- spcifies link to detail page -->
            <img src="#" alt=""/>
            <h3>item name</h3>
            <div class="price">
              <h4>$300<span>view</span></h4>
            </div>
            <span class="b_btm"></span>
          </a>
        </div>
        <div class="grid1_of_3">
          <a href="details.html">
            <img src="#" alt=""/>
            <h3>item name</h3>
            <div class="price">
              <h4>$300<span>view</span></h4>
            </div>
            <span class="b_btm"></span>
          </a>
        </div>
        <div class="grid1_of_3">
          <a href="details.html">
            <img src="#" alt=""/>
            <h3>item name</h3>
            <div class="price">
              <h4>$300<span>view</span></h4>
            </div>
            <span class="b_btm"></span>
          </a>
        </div>
        <div class="clear"></div>
      </div>
      <div class="grids_of_3">
        <div class="grid1_of_3">
          <a href="details.html">
            <img src="#" alt=""/>
            <h3>item name</h3>
            <div class="price">
              <h4>$300<span>view</span></h4>
            </div>
            <span class="b_btm"></span>
          </a>
        </div>
        <div class="grid1_of_3">
          <a href="details.html">
            <img src="#" alt=""/>
            <h3>item name</h3>
            <div class="price">
              <h4>$300<span>view</span></h4>
            </div>
            <span class="b_btm"></span>
          </a>
        </div>
        <div class="grid1_of_3">
          <a href="details.html">
            <img src="#" alt=""/>
            <h3>item name</h3>
            <div class="price">
              <h4>$300<span>view</span></h4>
            </div>
            <span class="b_btm"></span>
          </a>
        </div>
        <div class="clear"></div>
      </div>  
      <!-- end grids_of_3 -->
    </div>
  </div>
  </div>  
  <!-- end main1 products -->
  <!-- end main -->
</div>
</div>
