
* { padding:0; margin:0; outline:0; }

*, *:after, *:before {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size:12px;
  line-height:16px;
  color:#636363;
}
input, textarea, select { font-family: "Trebuchet MS", Arial, sans-serif; font-size:12px; width: 211px; }

/*.field { background:#ebebeb; border:solid 1px #dedede; padding:2px;}*/

a img { border:0; float: left; padding-right: 6px; height: 100%; /*margin-left: -14px*/}
/*a img { border:0;}*/

a { color:#b14525; text-decoration: underline; cursor:pointer; }
a:hover { color:#666; text-decoration: none; }

.left, .alignleft { float:left; display:inline; }
.right, .alignright { float:right; display:inline; }

.cl { font-size:0; line-height:0; clear:both; display:block; height:0; }

.al { text-align: left; }
.ar { text-align: right; }
.ac { text-align: center; }

h1 { line-height:20px; }
h2 { font-size:14px; line-height:16px; }
h3 { font-size:12px; line-height:14px; text-transform: uppercase; color:#000; }
h4 { font-size:12px; line-height:14px; text-transform: uppercase; color:#000; }



#main { width:960px; margin:0 auto; background:#fff; margin-top: 10px; }

#header { height:65px; display: block; width: 100%;}

h1#logo { width:163px; height:53px; float:left; background:#493838;}  
h1#logo a{ display:block; height:64px;margin-left: 10px; margin-top: 16px; color:#ffffff; text-decoration: none; }



/*#logo h1 { font-size: 24px; line-height:1.5em; display: inline; float:left;}
*/
/*.shell { width:960px; margin:0 auto; padding:10px; background:#fff; }*/

#navigation { display: inline; float:left; background:#493838; line-height: 33px; width:620px; margin-left: 1px; }

/*#navigation { display: inline; float:left; padding-top: 10px}*/
#navigation ul{ list-style-type: none; font-weight: bold;}
#navigation ul li{ float:left; display:inline; padding: 10px;}
#navigation ul li a{ text-decoration: none; color:#ffffff; }
#navigation ul li a.active, #navigation ul li a:hover{ background:#fff; color:#7f7f7f; line-height: 33px;}


#cart { display: inline; float:right; width:175px; background:#493838; color:#fff; padding:7px 10px 6px 10px; line-height: 20px; }
#cart-link a { display: inline; color:#fff; padding-left: 32px; text-decoration: none; background:url(images/cart-link.gif)}
#cart-link a:hover { text-decoration: underline;}
/*a#cart { border:0; float: left; padding-right: 6px;}*/


#line1 { width: 960px; background:#d34325; padding:1px; position: absolute; width: 960px; margin-top: -12px; }
#line2 { width: 960px; background:#d34325; padding:1px; position: absolute; width: 960px; margin-top: 255px; }
#line3 { background:#493838; padding:1px; position: absolute; width: 153px; margin-top: 0px; }

#content { display: block; width: 100%;}

#sidebar { display: inline-block; float: left; width:226px; height:252px;}

.box { padding:1px; border:solid 1px #dedede; margin-bottom:10px;}
.box h2{ background:#7f7f7f; color:#fff; font-weight: normal; padding:0 5px; position:relative; line-height:27px; }
.box h2 span{ position:absolute; width:10px; height:5px; top:27px; right:10px; font-size:0; line-height:0;}
.box-content { padding:5px; height: 0px;}

.search { min-height:256px;}
.search label { display:block; padding-bottom:3px; }

.search .field { display:block; margin-bottom:10px; }
.search .inline-field label { display:inline; padding:0; }
.search .inline-field .field { display:inline; margin:0; }
.search input.field { width:206px; }
.search select.field { width:212px; }
.search select.small-field { width:50px; }

.search-submit { width:70px; background:#493838; border:0; color:#fff; height:27px; display:block; line-height:26px; cursor:pointer; margin: -3px 0 10px 0;}
a.bul { padding-left:10px;}

#category { margin-top: -3px; }
#producttype { margin-top: 11px; }
.serachprice {margin-top: 10px; }
#pricerange {margin-bottom: 13px;}
.from {width: 80px; float: left; margin-right: 6px; }
.to {width: 80px; float: right; margin-right: 20px; margin-top: -19px; }


#slider { display: inline-block; height:256px; float: left; margin-left: 10px; overflow: hidden;}

#slider-holder { width:720px; height: 90%;}
#slider-holder ul{ list-style-type: none;}

#slider-nav { position:absolute; top:300px; bottom: 0px; margin: 5px; left: 1086px; height: 0px;}

/*#slider-nav { display: block; float: right; bottom: 0px; margin: 5px; position:absolute; left: 1086px; height: 0px;}*/
#slider-nav a{ font-size:0; line-height:0; width:10px; height:10px; border:solid 1px #493838; background:#493838; float:left; margin-right:5px; }
#slider-nav a:hover, #slider-nav a.active { background:#fff;}
#slide1 { margin-top: 1px;}


/*------ bottom jcarsoul slider ------*/
/*#slider img { display: none;}*/

.products ul{ list-style-type: none;  }
.products ul li{ width:236px; height:373px; margin: 0 4px 10px 0; border:solid 1px #dedede; overflow:hidden; float:left; position: relative; }


.product-info{ width:153px; top:194px; left:0; position: absolute; background-color: #ffffff; background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba(255,255,255,1)); height: 176px }
.product-info h3{ background:#D34C25; color:#fff; padding:6px 10px; }
.product-info h4{ font-weight: normal;}
.product-info p{ font-size:16px; line-height:18px; text-transform: uppercase; font-weight: bold; color:#000; padding:5px 0 7px 0;}
.product-info .product-desc{ padding:10px; width:133px; }

.price { display:block; font-size:21px; color:#8b0000; line-height:23px; }



.more-products { border:solid 1px #dedede; height:114px; display: block; clear: both; margin-bottom: 5px;}
.more-products ul{ list-style-type: none; height:94px; position:relative; overflow:hidden; /*width:805px;*/}
.more-products ul li{ float:left; width:94px; height:94px; border-right:dashed 1px #ccc; padding:0 10px;}
.more-products ul li.last{ border-right:0; }

.more-products-holder { /*width:804px;*/ height:94px; position:relative; overflow:hidden; top:10px; left:4px;}
.more-products-holder .jcarousel-clip{ width:804px; height:94px; position:relative; overflow:hidden; }

/*#slide-info { margin-top: -48px; margin-left: 21px; font-size: 15px; }*/
/*#box { height: 10px; border:solid 1px #dedede; }*/
/*------ end bottom jcarsoul slider ------*/

.cols { padding:15px 0; display: block; clear: both;}
.col { float:left; display:inline; width:217px; margin-right:30px;}
.col-last { margin-right:0; padding-bottom: 20px;}

h3.ico { background-repeat:no-repeat; background-position:0 2px; padding:6px 0 8px 30px;}
h3.ico1 { background-image:url(/images/ico1.gif);} /*store name TY*/
h3.ico2 { background-image:url(/images/ico2.gif);} /*About us*/
h3.ico3 { background-image:url(/images/ico3.gif);} /*services*/
h3.ico4 { background-image:url(/images/ico4.gif);} /*contact us*/
a.bul { background:url(/images/bul.gif) no-repeat 0 center; padding-left:10px;}


#footer { height:51px; background:#ebebeb; line-height:50px; padding:0 15px; color:#7b7b7b; margin-top:10px; display: block; clear: both;}
#footer a{ color:#7b7b7b; text-decoration: none;}
#footer a:hover{ color:#000;}
#footer span{ padding:0 2px;}

table { width: 100%; text-align: left; }
th { padding: 10px 10px; }
td { padding: 10px 10px; font-size: 10px; }
th { color: #fff; background: #bfbcc0 none repeat-x scroll left top; }
td { border-bottom: 1px solid #ccc; }



/*product detail page*/
#pd-header { font-size: 35px; margin-top: 10px; margin-bottom: 8px;}
#pd-info { margin-top: 4px; margin-bottom: 4px; color: #5b9e16; }
#pd-description {line-height: 30px; font-size: 14px; margin-top: 14px;}
#pd-price { display:block; font-size:30px; color:#d34325; line-height: 23px; margin-top: 14px; margin-bottom: 14px;}
#line4 { background:#eeeeee; width: 611px; height: 1px; }
#pd-subhead1 {margin-top: 20px; margin-bottom: 10px; font-size: 25px; }
#pd-subcontent { display: inline-flex; margin-bottom: 10px; }
#block1 { margin-right: 15px; border:solid 1px #dedede; height: 40px; width: 130px; font-size: 18px; line-height: 38px; text-align: center; background: #eaeaea; }
#block2 { margin-right: 15px; border:solid 1px #dedede; height: 40px; width: 130px; font-size: 18px; line-height: 38px; text-align: center; background: #eaeaea; }
#block3 { border:solid 1px #dedede; height: 40px; width: 130px; font-size: 18px; line-height: 38px; text-align: center; background: #eaeaea; }
#addCart { border:solid 1px #dedede; height: 40px; width: 222px;font-size: 18px; line-height: 38px; text-align: center; background: #555555; margin-top: 15px; color: #fff; }
#line5 { background:#eeeeee; width: 611px; height: 1px; margin-top: 10px; }


.column1 { margin-top: 15px; border:solid 1px #dedede; float: left; display: inline-block; margin-bottom: 20px;}
.column2 { margin-top: 15px; border:solid 1px #ffffff; float: right; width: 612px; height: 406px; margin-bottom: 20px;}


/*.bottom { background: #d34325; }*/
/*.comment-container { background: #dedede; }*/

.bubble-image { float: left; /*border:solid 1px #dedede;*/ height: 60px; width: 60px; margin-top: 29px; margin-left: 0px;}
.comment { padding: 10px; float: right; border:solid 1px #dedede; height: 61px; width: 887px; margin-top: 19px; border-radius:10px; box-shadow:1px 1px 5px rgba(0,0,0,.2); margin-right: 13px;}
#date { margin-left: 724px; color: #aca6a6; }
.comment-form { float:left; clear: both; margin-top: 14px;}
.comment-content { clear: both; }
.pd-firstname { color: #d34325; font-size: 16px; margin-bottom: 2px; }

.new_product label { display: block; }

#pd-textarea { padding: 10px; display: inherit; border:solid 1px #dedede; height: 61px; width: 400px; margin-top: 19px; margin-bottom: 20px; border-radius:10px; box-shadow:1px 1px 5px rgba(0,0,0,.2);}

#pd-post {}
#pd-post { border:solid 1px #dedede; width: 180px; font-size: 18px; line-height: 38px; text-align: center; background: #555555; color: #fff; margin-bottom: 10px;}

#line6 { margin-top: 123px; background:#eeeeee; width: 611px; height: 1px; margin-top: 114px; }


/*--- sign-in design ---*/
#sign-title h2 { clear: both; font-size: 40px; padding-top: 18px; padding-bottom: 30px; }
.s-header { font-size: 20px; }
.s-box { height: 30px; width: 221px; margin-bottom: 14px; }
#s-rem { width: 15px; }
#s-button { border:solid 1px #dedede; height: 40px; width: 222px;font-size: 18px; line-height: 38px; text-align: center; background: #555555; margin-top: 23px; color: #fff; }
/*--- end sign-in design*/

/*--- sign-up design ---*/

#s-button1 { border:solid 1px #dedede; height: 40px; width: 222px;font-size: 18px; line-height: 38px; text-align: center; background: #555555; margin-top: 12px; color: #fff; }

/*--- end sign-up design ---*/


